<div id="navigation">
    <ul>    
        <li><a href="/miasta/_design/default/_list/miasta/miasta/">Przeglądaj miasta</a></li>
        <li><a href="/miasta/_design/default/_list/statystyki/miasta/">Pokaż statystyki miast</a></li>
    </ul>
</div>